{% extends 'projectcalculator/layout.html' %}
{% load static%}


{% block body %}

    <script src="{% static 'projectcalculator/projects_script.js' %}"></script>

    <div class='p-3 m-3 shadow border border-1 rounded-3 col-8 mx-auto'>

        {% if message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <h1 class='mb-3'>Add Project</h1>
        <hr>

        <form action="" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="{{ formset.project_form.name.id_for_label }}" class="form_label mb-2">Project Name</label>
                {{ formset.project_form.name }}
            </div>
            
            <div class="mb-3">
                <label for="{{ formset.project_form.description.id_for_label }}" class="form_label mb-2">Project Description</label>
                {{ formset.project_form.description }}
            </div>

            {{ formset.management_form }}

            <div class="mb-3">
                <label for="" class="mb-2">Project Materials</label>

                <table class="table">
                    <tbody>
                        {% for form in formset %}
                            <tr>
                                <input type="hidden" name="{{ form.prefix }}-material" value="{{ form.material.value }}">
                                <input type="hidden" name="{{ form.prefix }}-material_name" value="{{ form.material_name.value }}">
                                <th scope="row"><input type="checkbox" name="{{ form.prefix }}-DELETE" {{ form.DELETE.value|yesno:',checked' }} class="form-check-input" id="id-{{ form.prefix }}-DELETE"></th>
                                <td><label for="id-{{ form.prefix }}-DELETE" class="form-label">{{ form.material_name.value }}</label></td>
                                <td><input type="number" step="1" class="form-control" name="{{ form.prefix }}-material_qty" value="{{ form.material_qty.value }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <input type="submit" class='btn btn-outline-primary' value="Create Project">
        </form>
        
    </div>

    <div class="m-3 projects-card-container">
        
        {% if not projects_page_obj %}
            <div class="alert alert-secondary">Your created projects will show here:D</div>
        {% else %}
            <div class="row row-cols-3">

                {% for project in projects_page_obj %}
                    <div class="project-{{ project.id }}-container">
                        <div class="material-card-container card shadow border border-1 rounded-3 col m-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.name }} ({{project.id}})</h5>
                                <hr>
                                <p class="card-text">{{ project.description }}</p>

                                <!-- Slice the first 3 materials with this info: https://docs.djangoproject.com/en/4.2/ref/templates/builtins/ -->
                                
                                <h6 class="card-subtitle text-body-secondary">Materials:</h6>

                                <ul class="list-group list-group-flush">
                                    {% for material in project.projectmaterialset_set.all %}
                                        <li class="list-group-item">{{ material.material.name }}: {{ material.material_qty }} {{ material.material.unit }} @ ${{ material.material.price }}</li>
                                        {% empty %}
                                        <div class="alert alert-secondary">This project doesn't have materials</div>
                                    {% endfor %}
                                </ul>

                                <h6 class="card-subtitle text-body-secondary mt-2 mb-2">Total cost: ${{ project.project_cost }}</h6>

                                <button class="mt-3 btn btn-outline-danger delete-project" data-project-id="{{ project.id }}">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if projects_page_obj.num_pages > 1 %}
                <div class="pagination-container">
                    <nav aria-label="Material page navigation">
                        <ul class="pagination">
                            {% if projects_page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ projects_page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="?page={{ projects_page_obj.number }}">Previous</a></li>
                            {% endif %}

                            {% for page in paginator_range %}
                                {% if page == projects_page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if projects_page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ projects_page_obj.next_page_number}}">Next</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="?page={{ projects_page_obj.number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}